*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #31264E;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
}

h1{
    font-weight: 700;
}

a{
    color: #ffffff;
    text-decoration: none;
}



