.footer{
    /* background-color: #8F6FEA; */
    background: transparent;
    padding: 0 1.5rem;
    width: 100%;
    height: 3rem;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    
    @media (max-width: 577px){
        display: flex;
        justify-content: center;
        margin-left: 0;
    }

    .icons{
        
        background: transparent;
        svg{
            background: transparent;
            width: 2rem;
            height: auto;
            margin-left: .5rem;
        }
        a{
            background: transparent;
        }
    }

    
    
}
